<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tab_title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href="{% url 'default_page.index' %}">
                <img src="{% static 'img/header.gif' %}" alt="Starbuzz Coffee Logo">
            </a>
        </header><!-- Header goes here... -->
        {% block content %}
        {% endblock %}    
        <footer>
            <p>&copy; 2005, Starbuzz Coffee</p>
            <p>All trademarks and registered trademarks appearing on this site are the property of their respective owners.</p>      
        </footer>
    </div> 
</body>
</html>