{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Hero section -->
    <section class="flex flex-col-reverse justify-center md:flex-row p-6 items-center gap-8 mb-12">
        <article class="md:w-1/2">
            <h2 class="max-w-md text-4xl mt-4 font-bold text-center sm:text-5xl text-slate-900 dark:text-white">
                Welcome to <span class="text-red-300"><br />
                Pets</span>-<span class="text-blue-300">R</span>-<span class="text-green-300">Us</span>
            </h2>
            <p class="max-w-md text-lg md:text-2xl mt-4 text-center sm:text-left text-slate-700 dark:text-gray-400">
                Your one-stop shop for all your pet needs!
            </p>
            <p class="max-w-md text-lg md:text-2xl mt-4 text-center sm:text-left text-slate-700 dark:text-gray-400">
                We offer a wide <a href="#" class="text-[#457B9D] hover:text-[#1D3557]">variety of pets</a>, from dogs and cats to birds and reptiles. We also have a large selection of pet supplies, including <a href="#" class="text-[#457B9D] hover:text-[#1D3557]">food, toys, and accessories</a>. Whether you're looking for a new furry friend or just want to spoil your current pet, we've got you covered!
            </p>
        </article>
        <img src="{% static 'img/hero.png' %}" alt="Pack of furry friends" class="md:w-1/2" width="350" />
    </section>
    <hr class="border-4 mx-auto bg-black dark:bg-white w-1/2">

    <!-- Services section -->
    <section class="max-w-5xl mx-auto p-6 my-12">
        <h2 class="text-3xl font-bold text-center text-slate-900 dark:text-white mb-8">Our Services</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
                <h3 class="text-xl font-semibold text-[#1D3557] dark:text-white mb-4">Pet Adoption</h3>
                <p class="text-slate-700 dark:text-gray-400">Find your new best friend! We have a wide variety of pets available for adoption, including  <a href="#" class="text-[#457B9D] hover:text-[#1D3557] dark:hover:text-white">dogs, cats, birds, and reptiles</a>. Our team is here to help you find the perfect match for your family.</p>
            </div>
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
                <h3 class="text-xl font-semibold text-[#1D3557] dark:text-white mb-4">Pet Supplies</h3>
                <p class="text-slate-700 dark:text-gray-400">We offer a wide selection of pet supplies, including  <a href="#" class="text-[#457B9D] hover:text-[#1D3557] dark:hover:text-white">food, toys, and accessories</a>. Whether you're looking for the best food for your furry friend or just want to spoil them with some new toys, we've got you covered!</p> 
            </div>
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
                <h3 class="text-xl font-semibold text-[#1D3557] dark:text-white mb-4">Join our Network</h3>
                <p class="text-slate-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nemo earum cum provident sint odit aspernatur laboriosam, eaque consequatur voluptatibus cupiditate voluptates, corporis voluptas, vero dolorum sed maxime expedita vitae.</p> 
            </div>
        </div>
    </section>
    <hr class="border-4 mx-auto bg-black dark:bg-white w-1/2">

{% endblock content %}