{% extends "base.html" %}
{% block content %}
{% load static %}
    <!-- Hero section -->
    <section class="flex flex-col-reverse justify-center md:flex-row p-6 items-center gap-8 mb-12">
        <article class="md:w-1/2">
            <h2 class="max-w-md text-4xl mt-4 font-bold text-center sm:text-5xl text-slate-900 dark:text-white">
                Welcome to <span class="text-red-300"><br />
                Pets</span>-<span class="text-blue-300">R</span>-<span class="text-green-300">Us</span>
            </h2>
            <p class="max-w-md text-lg md:text-2xl mt-4 text-center sm:text-left text-slate-700 dark:text-gray-200">
                Your one-stop shop for all your pet needs!
            </p>
            <p class="max-w-md text-lg md:text-2xl mt-4 text-center sm:text-left text-slate-700 dark:text-gray-200">
                We offer a wide <a href="#" class="text-[#457B9D] dark:text-[#A8DADC] hover:text-[#1D3557] dark:hover:text-[#F1FAEE]">variety of pets</a>, 
                from dogs and cats to birds and reptiles. We also have a large selection of pet supplies, 
                including <a href="#" class="text-[#457B9D] dark:text-[#A8DADC] hover:text-[#1D3557] dark:hover:text-[#F1FAEE]">food, toys, and accessories</a>. 
                Whether you're looking for a new furry friend or just want to spoil your current pet, we've got you covered!
            </p>
        </article>
        <img src="{% static 'img/hero.png' %}" alt="Pack of furry friends" class="md:w-1/2" width="350" />
    </section>
    <hr class="border-4 mx-auto bg-black dark:bg-white w-1/2">

    <!-- Services section -->
    <section class="max-w-5xl mx-auto p-6 my-12">
        <h2 class="text-3xl font-bold text-center text-slate-900 dark:text-white mb-8">Our Services</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
                <h3 class="text-xl font-semibold text-[#1D3557] dark:text-white mb-4">Pet Adoption</h3>
                <p class="text-slate-700 dark:text-gray-200">Find your new best friend! We have a wide variety of pets available for adoption, including  <a href="#" class="text-[#457B9D] dark:text-[#A8DADC] hover:text-[#1D3557] dark:hover:text-[#F1FAEE]">dogs, cats, birds, and reptiles</a>. Our team is here to help you find the perfect match for your family.</p>
            </div>
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
                <h3 class="text-xl font-semibold text-[#1D3557] dark:text-white mb-4">Pet Supplies</h3>
                <p class="text-slate-700 dark:text-gray-200">We offer a wide selection of pet supplies, including  <a href="#" class="text-[#457B9D] dark:text-[#A8DADC] hover:text-[#1D3557] dark:hover:text-[#F1FAEE]">food, toys, and accessories</a>. Whether you're looking for the best food for your furry friend or just want to spoil them with some new toys, we've got you covered!</p> 
            </div>
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
                <h3 class="text-xl font-semibold text-[#1D3557] dark:text-white mb-4">Join our Network</h3>
                <p class="text-slate-700 dark:text-gray-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nemo earum cum provident sint odit aspernatur laboriosam, eaque consequatur voluptatibus cupiditate voluptates, corporis voluptas, vero dolorum sed maxime expedita vitae.</p> 
            </div>
        </div>
    </section>
    <hr class="border-4 mx-auto bg-black dark:bg-white w-1/2">

    <!-- Testimonial section -->
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <h1 class="text-3xl font-medium title-font text-gray-900 dark:text-white mb-12 text-center">Testimonials</h1>
            <div class="flex flex-wrap -m-4">
                <div class="p-4 md:w-1/2 w-full">
                    <div class="h-full bg-gray-100 dark:bg-gray-700 p-8 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-[#457B9D] dark:text-[#F1FAEE] mb-4" viewBox="0 0 975.036 975.036">
                            <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                        </svg>
                        <p class="leading-relaxed mb-6 dark:text-gray-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque semper elit non pellentesque. Curabitur neque arcu, efficitur facilisis porta at, feugiat ut est. Vivamus sed dui in dui vehicula congue. Phasellus sed pellentesque nisi. Phasellus tempus bibendum massa ut tincidunt. Nam hendrerit ut tortor eget rutrum. Suspendisse facilisis ante eget fringilla auctor. Nam a odio orci. Pellentesque imperdiet quis sem</p>
                        <a class="inline-flex items-center">
                            <img alt="testimonial" src="https://dummyimage.com/110x110" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                            <span class="flex-grow flex flex-col pl-4">
                            <span class="title-font font-medium text-gray-900 dark:text-white">Jonathan Doe</span>
                            <span class="text-[#457B9D] dark:text-[#A8DADC] text-sm">MANAGING DIRECTOR</span>
                        </a>
                    </div>
                </div>
                <div class="p-4 md:w-1/2 w-full">
                    <div class="h-full bg-gray-100 dark:bg-gray-700 p-8 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5  text-[#457B9D] dark:text-[#F1FAEE] mb-4" viewBox="0 0 975.036 975.036">
                            <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                        </svg>
                        <p class="leading-relaxed mb-6 dark:text-gray-200">Fusce pharetra eget augue ac condimentum. Fusce dictum ex mauris, porta semper mi malesuada dictum. Donec congue ipsum diam. Donec eu tellus laoreet, iaculis mi sit amet, ultricies nulla. Maecenas orci metus, gravida et sodales eget, varius nec nibh. Suspendisse eget lorem blandit, sodales est eget, efficitur erat. Pellentesque feugiat velit in ante tincidunt, sed fringilla dui dignissim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sit amet ipsum viverra, bibendum odio vel, tempus arcu.</p>
                        <a class="inline-flex items-center">
                            <img alt="testimonial" src="https://dummyimage.com/110x110" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                            <span class="flex-grow flex flex-col pl-4">
                            <span class="title-font font-medium text-gray-900 dark:text-white">Dr. Jane Doelittle</span>
                            <span class="text-[#457B9D] dark:text-[#A8DADC] text-sm">VETERINARIAN</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="border-4 mx-auto bg-black dark:bg-white w-1/2">

{% endblock content %}