{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>{{ title }}</title>
    {% tailwind_css %}
</head>
<body class="min-h-screen bg-[#F1FAEE] dark:bg-[#1D3557] dark:text-white">
    <!-- Header -->
    <header class="bg-[#457B9D] text-white sticky top-0 z-10">
        <div class="max-w-5xl mx-auto p-4 flex justify-between items-center">
            <h1 class="text-3xl font-medium relative group">
                <a href="{% url 'core.index' %}" class="">
                    <span class="text-red-300">Pets</span>-<span class="text-blue-300">R</span>-<span class="text-green-300">Us</span>
                </a>
                <div class="absolute top-full left-1/2 transform -translate-x-1/2 mt-2 w-max px-2 py-1 text-sm text-white bg-gray-700 rounded shadow-lg opacity-0 group-hover:opacity-100">
                    Home
                </div>
            </h1>        

            <div>
                <button id="hamburger-btn" class="text-3xl lg:hidden cursor-pointer">&#9776;</button>

                <nav class="hidden lg:block space-x-8 text-xl" aria-label="Main Navigation">
                    <a href="" class="hover:opacity-90">Shop</a>
                    <a href="" class="hover:opacity-90">About</a>                    
                    <a href="" class="hover:opacity-90">Contact</a>
                    <a href="" class="hover:opacity-90"><i class="fa-solid fa-cart-shopping text-[16px]"></i>&nbsp;Cart</a>                    
                    <a href="" class="hover:opacity-90">Orders</a>
                    <a href="" class="hover:opacity-90">Login</a>
                    <a href="" class="hover:opacity-90">Register</a>
                </nav>
            </div>
        </div>

        <div id="mobile-menu" class="absolute top-0 bg-[#1D3557] w-full text-5xl flex-col justify-content-center origin-top animate-open-menu hidden">
            <button class="text-8xl self-end px-6">&times;</button>
            <nav class="flex flex-col min-h-screen items-center py-8" aria-label="mobile">
                <a href="" class="w-full text-center py-6 hover:opacity-90">About</a>
                <a href="" class="w-full text-center py-6 hover:opacity-90">Shop</a>
                <a href="" class="w-full text-center py-6 hover:opacity-90">Cart</a>
                <a href="" class="w-full text-center py-6 hover:opacity-90">Orders</a>
                <a href="#contact" class="w-full text-center py-6 hover:opacity-90">Contact</a>
                <a href="" class="w-full text-center py-6 hover:opacity-90">Login</a>
            </nav>
        </div> 
    </header>

    <!-- Main Content -->
    <main class="max-w-5xl mx-auto">
        {% block content %}
        {% endblock %}
    </main>
    <hr class="border-4 mx-auto bg-black dark:bg-white w-1/2">

    <!-- Footer -->
    <footer class="bg-[#1D3557] text-slate-200 text-sm py-4">
        <section class="max-w-5xl mx-auto p-4 flex flex-col md:flex-row md:justify-between">
            <address class="mb-10">
                <h2>Pets-R-Us! Pets and Products Ltd</h2>
                <b class="not-italic">5555 Greatest London Road</b><br />
                <b class="not-italic">Croydon</b><br />
                <b class="not-italic">Email: </b><a href="mailto:admin247@pets-r-us.co.uk">admin247@pets-r-us.co.uk</a><br />
                <b class="not-italic">Prone: <a href="tel:+555555555555">(5555) 5555-5555</a></b>
            </address>
            <nav class="hidden md:flex flex-col gap-2" arial-label="footer">
                <a href="" class="hover:opacity-90">Home</a>
                <a href="" class="hover:opacity-90">Shop</a>
                <a href="" class="hover:opacity-90">About</a>                    
                <a href="" class="hover:opacity-90"><i class="fa-solid fa-cart-shopping text-[16px]"></i>&nbsp;Cart</a> 
            </nav>
            <div class="flex flex-col md:gap-2">
                <p class="text-right">Coppyright &copy; All Rights Reserved <i class="not-italic">2026</script></i></p>
            </div>
        </section>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>