{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>{{ title }}</title>
    {% tailwind_css %}
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Pets-R-Us!</h1>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 Pets-R-Us!. All rights reserved.</p>
    </footer>
</body>
</html>